.Contact {
  background-color: #212121;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: center;

  .wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
      border: none;
      cursor: pointer;
      padding: 10px;
      outline: none;
    }
    button {
      padding: 10px;
      color: white;
      background-color: #333;
      border-radius: 0 5px 5px 0;
      border: none;
    }
    .icons {
      display: flex;
      gap: 10px;
    }
  }
}
